<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()">
                CLOSE
            </ion-button>
        </ion-buttons>
        <ion-title> Editar</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
    <ion-card class="welcome-card">
        <ion-card-header>
            <ion-card-title *ngIf="categoria.idNotas == undefined" color="primary">Categoria</ion-card-title>
            <ion-card-title *ngIf="categoria.idNotas != undefined" color="primary">Proyecto</ion-card-title>
        </ion-card-header>
        <ion-card-content *ngIf="categoria.idNotas == undefined">
            <ion-item *ngIf="categoria === 'new'">
                <ion-label position="floating">Nombre de la Categoria</ion-label>
                <ion-input [(ngModel)]="nombre"></ion-input>
            </ion-item>
            <ion-item *ngIf="categoria !== 'new'">
                <ion-label position="floating">Nombre de la Categoria</ion-label>
                <ion-input [(ngModel)]="categoria.nombre"></ion-input>
            </ion-item>
            <br>
            <ion-button *ngIf="categoria === 'new'" shape="round" fill="outline" (click)="crearCategoria()">Crear
            </ion-button>
            <ion-button *ngIf="categoria !== 'new'" shape="round" fill="outline" (click)="actualizarCategoria()">
                Actualizar
            </ion-button>
        </ion-card-content>
        <ion-card-content *ngIf="categoria.idNotas != undefined">

            <ion-item>
                <ion-label>Nombre Proyecto: {{categoria.nombre}}</ion-label>
            </ion-item>
            <br>
            <ion-item>
                <ion-label>Fecha Limite</ion-label>
                <ion-datetime [(ngModel)]="categoria.fechaLimite" displayFormat="D MMM YYYY H:mm" min="2017"
                              value="2005-06-17T11:06Z"></ion-datetime>
            </ion-item>
            <br>
            <ion-item>
                <ion-label>Nivel: {{categoria.nivel}} Semestre Paralelo: {{categoria.paralelo}}</ion-label>
            </ion-item>
            <ion-button shape="round" fill="outline" (click)="actualizarFecha()">
                Actualizar
            </ion-button>
        </ion-card-content>
    </ion-card>

</ion-content>
