<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            Perfil Usuario
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <ion-card-header>
            <ion-avatar class="login100-form-avatar">
                <img src="/assets/images/avatar.jpg">
            </ion-avatar>
        </ion-card-header>
        <ion-card-content>
            <ion-item>
                <ion-label>Nombre: &nbsp; {{user.name}}</ion-label>
            </ion-item>
            <br>
            <ion-item>
                <ion-label>Correo: &nbsp; {{user.email}}</ion-label>
            </ion-item>
            <br>
            <ion-button *ngIf="!passchange" (click)="passchange = true">
                <ion-icon slot="start" name="key"></ion-icon>
                Cambiar Contraseña
            </ion-button>
            <ion-button *ngIf="passchange" (click)="resetPassword()">
                <ion-icon slot="start" name="save"></ion-icon>
                Guardar
            </ion-button>
            <ion-button color="danger" *ngIf="passchange" (click)="cancelar()">
                <ion-icon slot="start" name="trash"></ion-icon>
                Cancelar
            </ion-button>
            <ion-item *ngIf="passchange">
                <ion-label position="floating">Contraseña</ion-label>
                <ion-input [type]="tipoInput" [(ngModel)]="user.password"></ion-input>
                <ion-icon slot="end" name="eye" *ngIf="tipoInput == 'password'"
                          (click)="showPassword(tipoInput)"></ion-icon>
                <ion-icon slot="end" name="eye-off" *ngIf="tipoInput == 'text'"
                          (click)="showPassword(tipoInput)"></ion-icon>
            </ion-item>
            <br>
            <ion-item *ngIf="passchange">
                <ion-label position="floating">Repetir Contraseña</ion-label>
                <ion-input [type]="tipoInput" [(ngModel)]="repeatPassword"></ion-input>
            </ion-item>
        </ion-card-content>
    </ion-card>
    <ion-button (click)="cerrarSesion()" shape="round" expand="block" fill="outline">Cerrar Sesion</ion-button>
</ion-content>
