<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaulHref="/app-student-proyect"></ion-back-button>
        </ion-buttons>
        <ion-title>Entregable 1</ion-title>
        <ion-title></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ion-card class="welcome-card">
                    <ion-card-header>
                        <ion-card-title class="text-center" color="primary">NOTA:
                        </ion-card-title>
                        <ion-avatar class="login100-form-avatar text-center">
                            <img src="/assets/images/avatar.jpg">
                        </ion-avatar>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-item>
                            <ion-label position="floating">Link de Github</ion-label>
                            <ion-input></ion-input>
                        </ion-item>
                        <br><br>
                        <ion-item class="fileUpload">
                            <input type="file" class="fileElem" multiple>
                            <label class="fileSelect">Subir</label>
                        </ion-item>
                    </ion-card-content>
                </ion-card>
            </div>
        </div>
    </div>
</ion-content>
