<div class=" container p-3 ">
  <h1 align="center" id="color">PROPUESTA DE PROYECTOS INTEGRADORES</h1>
</div>

<div class=" container p-3 ">
  <div class="row ">


    <div class="col-12 ">


      <div class="card ">
        <div class="card-header text-white bg-dark ">
          <b>DESARROLLO DE SOFTWARE</b></div>
        <div class="card-body ">
          <div class="row ">

            <table class="table table-bordered" id="tableColor">

              <tbody>
                <tr>

                  <td scope="col">NOMBRE DEL PROYECTO</td>
                  <td scope="col">
                    <input class="form-control " type="text ">

                  </td>

                </tr>
                <tr>

                  <td scope="col">DESCRIPCIÓN DEL PROYECTO</td>
                  <td scope="col">
                    <textarea class="form-control "></textarea>

                  </td>

                </tr>
                <tr>

                  <td scope="col">HERRAMIENTAS A UTILIZAR</td>
                  <td scope="col">
                    <textarea class="form-control "></textarea>

                  </td>
                </tr>
                <tr>

                  <td scope="col">TEMA</td>
                  <td scope="col">
                    <select class="browser-default custom-select">
                      <option value="" disabled selected>SELECCIONE UN TEMA</option>
                      <option value="ecologia">Ecologia</option>
                      <option value="medioAmbiente">Medio Ambiente</option>
                      <option value="Salud">Salud</option>
                      <option value="Facturacion">Facturacion</option>

                    </select>

                  </td>

                </tr>
                <tr>
                  <th>Nombres</th>
                  <td scope="col">{{user.usuario.name}}&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<button class="btn btn-success m-1" data-toggle="modal"
                      data-target="#nuevo">+</button>&nbsp;</td>
                </tr>
              </tbody>
            </table>

            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <button type="button" class="btn btn-outline-primary" (click)="cerrar()">ENVIAR PROPUESTA</button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="nuevo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">INTEGRANTE</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <select class="browser-default custom-select">

          <option value="" disabled selected>Seleccione un Estudiante
          </option>
          <option value="2010">Rodrigo Diaz</option>
          <option value="2011">Alejandro Coronel</option>
          <option value="2012">Erick Erraez</option>



        </select>
        <br>
        <br>
        <button class="btn btn-success" (click)="update()">ACEPTAR </button>&nbsp;&nbsp;&nbsp;
        <button class="btn btn-danger" data-toggle="modal" data-dismiss="modal"
          data-target="#rechazo">CANCELAR</button>&nbsp;
        <br>

      </div>
    </div>
  </div>
</div>