<body id="page-top" style="padding-left: 10%;padding-right: 10%;">

<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->

  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <div id="content">


      <div class="row">
        <div class="col-12 ">
          <div class="card">
            <div class="card-header text-white" style="border-bottom-width: 5px;background-color: rgb(43, 76, 226);">
              <h6 class="m-0 font-weight-bold">INFORMACIÓN DEL PROYECTO</h6>
            </div>
            <div class="card-body ">
              <div class="row ">
                <table class="table table-bordered" id="tableColor">
                  <tbody>
                  <tr>

                    <td scope="col">

                      <label class="inp">
                        <input type="text" id="name" placeholder="&nbsp;" [(ngModel)]="proyectos.nombre">
                        <span class="label">NOMBRE DEL PROYECTO</span>
                        <span class="border"></span>
                      </label>

                    </td>
                    <td scope="col">

                      <label class="inp">
                        <input type="text" id="desc" placeholder="&nbsp;" [(ngModel)]="proyectos.descripcion">
                        <span class="label">DESCRIPCIÓN DEL PROYECTO</span>
                        <span class="border"></span>
                      </label>

                    </td>
                  </tr>

                  </tbody>
                </table>
                <table class="table table-bordered" id="tableColor">
                  <tbody>
                  <tr>

                    <td scope="col">

                      <label class="inp">
                        <input type="text" id="herr" placeholder="&nbsp;" [(ngModel)]="proyectos.herramientas">
                        <span class="label">HERRAMIENTAS A UTILIZAR</span>
                        <span class="border"></span>
                      </label>

                    </td>

                    <td scope="col">
                      <select class="browser-default custom-select" class="inp"[(ngModel)]="proyectos.idCategoria">

                        <option value="selected"  class="label"  disabled>SELECCIONE UN TEMA</option>
                        <option *ngFor="let categoria of Arraycategorias"
                                value="{{categoria.idCategorias}}">{{categoria.nombre}}</option>
                        <span class="border"></span>


                      </select>

                    </td>
                  </tr>
                  <tr>
                    <td scope="col">
                      <select class="browser-default custom-select" class="inp"[(ngModel)]="proyectos.nivel">
                        <option value="selected"  class="label"  disabled>NIVEL</option>
                        <option  value="1">PRIMERO </option>
                        <option  value="2">SEGUNDO</option>
                        <option  value="3">TERCERO </option>
                        <option  value="4">CUARTO </option>
                        <option  value="5">QUINTO </option>
                        <span class="border"></span>


                      </select>

                    </td>
                    <td scope="col">
                      <select class="browser-default custom-select" class="inp"[(ngModel)]="proyectos.paralelo">
                        <option value="selected"  class="label"  disabled>PARALELO</option>
                        <option  value="A">A </option>
                        <option  value="B">B</option>
                        <option  value="C">C </option>

                        <span class="border"></span>


                      </select>

                    </td>
                  </tr>




                  </tbody>
                </table>
                <table class="table table-bordered" id="tableColor">
                  <div class="card-header text-white"
                       style="border-bottom-width: 5px;background-color: rgb(43, 76, 226);">
                    <h6 class="m-0 font-weight-bold ">INTEGRANTES</h6>
                  </div>
                  <tbody>
                  <tr>
                    <td> {{user.usuario.name}}
                    <tr>{{user.usuario.email}}</tr></td>
                    <td width="70">
                      <button (click)="presentarAlerta()" color="primary"
                              name="add-circle-outline" class="btn btn-primary">+
                      </button>
                    </td>
                  </tr>
                  <tr *ngFor="let item of miembros;">
                    <td>{{item.nombre1}}&nbsp;{{item.apellido1}}
                    <tr>{{item.correo}}</tr></td>

                    <td width="70">
                      <button (click)="quitar(item)" color="danger" name="trash" class="btn btn-danger">-</button>
                    </td>
                  </tr>

                  </tbody>
                </table>

              </div>
            </div>
            <button class="btn btn-secondary" data-toggle="modal" data-target="#seleccion">ENVIAR PROPUESTA</button>

          </div>
        </div>


      </div>
    </div>


  </div>


</div>


</body>


<div class="modal fade" id="seleccion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>ESTÁS SEGURO DE ENVÍAR ESTA PROPUESTA ?</h5>
        <br>
        <br>
        <button class="btn btn-success" (click)="EnviarPropuesta()" data-dismiss="modal">ACEPTAR</button>&nbsp;&nbsp;&nbsp;
        <button class="btn btn-danger" data-toggle="modal" data-dismiss="modal"
                data-target="#rechazo">CANCELAR
        </button>&nbsp;
        <br>

      </div>
    </div>
  </div>
</div>
