
        <!-- Begin Page Content -->
        <div class="row"style="padding-left: 5%;padding-right: 5%;">

          <div class="col-lg-6">

            <!-- Default Card Example -->
            <div class="card mb-4">
              <div class="card-header">
                Default Card Example
              </div>
              <div class="card-body">
                <div class="col-md-12 mb-12">
                  <div class="card border-left-primary shadow">
                    <div class="card-body">
                      <div class="row align-items-center">
                        <div class=" validate-input">



<div id="exampleContainer" onchange="YUI()">
<div id="uploaderContainer">
    <div id="selectFilesButtonContainer">
    </div>
    <div id="uploadFilesButtonContainer">
      <button type="button" id="uploadFilesButton"
              class="yui3-button" style="width:250px; height:35px;">Upload Files</button>
    </div>
    <div id="overallProgress">
    </div>
</div>

<div id="filelist">
  <table id="filenames">
    <thead>
       <tr><th>File name</th><th>File size</th><th>Percent uploaded</th></tr>
       <tr id="nofiles">
        <td colspan="3" id="ddmessage">
            <strong>No files selected.</strong>
        </td>
       </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
</div>


                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
            </div>

            <!-- Basic Card Example -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Basic Card Example</h6>
              </div>
              <div class="card-body">
                <div class="col-md-12 mb-12">
                  <div class="card border-left-primary shadow">
                    <div class="card-body">
                      <div class="row align-items-center">
                        <div class=" validate-input">
                          <label  class="inp">
                            <input type="text" id="inp" placeholder="&nbsp;" name="email">
                            <span class="label">Link de GitHub</span>
                            <span class="border"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">

            <!-- Dropdown Card Example -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Basic Card Example</h6>
              </div>
              <div class="card-body">
                <div class="col-md-12 mb-12">
                  <div class="card border-left-primary shadow">
                    <div class="card-body">
                      <div class="row align-items-center">
                        <div class=" validate-input">
                          <label  class="inp">
                            <input type="text" id="inp" placeholder="&nbsp;" name="email">
                            <span class="label">Nota </span>
                            <span class="border"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Collapsable Card Example -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Basic Card Example</h6>
              </div>
              <div class="card-body">
                <div class="col-md-12 mb-12">
                  <div class="card border-left-primary shadow">
                    <div class="card-body">
                      <div class="row align-items-center">
                        <div class=" validate-input">
                          <label  class="inp">
                            <input type="text" id="inp" placeholder="&nbsp;" name="email">
                            <span class="label">Observaciones</span>
                            <span class="border"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>



          </div>

        </div>
        <!-- /.container-fluid -->








     