<body id="page-top" style="padding-left: 10%;padding-right: 10%;">
<div class="card-header text-white" style="border-bottom-width: 5px;background-color: rgb(43, 76, 226);">
LINK GITHUB
</div>
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="welcome-card">
          <label class="text-center">NOTA:</label>
        </div>
        <div class="login100-form-avatar text-center">
          <img src="/assets/images/avatar.jpg" style="height: 100px; height: 100px">
        </div>

      </div>
    </div>
  </div>
</div>
</body>
