<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaulHref="/app-tab2"></ion-back-button>
        </ion-buttons>
        <ion-title>{{proyecto.nombreProyecto}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <ion-card-content>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ion-label>Tutor de Proyecto: {{proyecto.tutor}}</ion-label>
                        <br>
                        <ion-label>Periodo: {{proyecto.periodo}}</ion-label>
                        <br>
                        <ion-label>Nivel: {{proyecto.nivelProyecto}} Semestre</ion-label>
                        <br>
                        <ion-label>Objetivos: {{proyecto.descripcionProyecto}}</ion-label>
                        <br>
                        <ion-label>Herramientas: {{proyecto.herramientasProyecto}}</ion-label>
                        <br>
                        <ion-label>Categoria: {{proyecto.categoria}}</ion-label>
                        <br>
                        <ion-label>Estado: {{proyecto.estadoProyecto}}</ion-label>
                        <br>
                        <ion-label>Integrantes: Alejandro Coronel, Erick Erraez</ion-label>
                        <div class="container" *ngIf="usuario.rol ===3">
                            <ion-item>
                                <ion-button shape="round" fill="outline">
                                    Aceptar
                                    <ion-icon name="checkmark-circle-outline"></ion-icon>
                                </ion-button>
                                <ion-button color="danger" shape="round" fill="outline">
                                    Rechazar
                                    <ion-icon name="close-circle-outline"></ion-icon>
                                </ion-button>
                            </ion-item>
                        </div>
                    </div>
                </div>
            </div>
        </ion-card-content>
    </ion-card>
    <ion-card class="welcome-card" (click)="openWork('12345')">
        <ion-card-header>
            <ion-card-title color="primary">Entregable 1
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <ion-label>Fecha de Entrega: 10/01/2019</ion-label>
                    </div>
                </div>
            </div>
        </ion-card-content>
    </ion-card>

    <ion-card class="welcome-card">
        <ion-card-header>
            <ion-card-title color="primary">Entregable 1
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <ion-label>Fecha de Entrega: 10/01/2019</ion-label>
                    </div>
                </div>
            </div>
        </ion-card-content>
    </ion-card>

</ion-content>
