<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaulHref="/app-tab2"></ion-back-button>
        </ion-buttons>
        <ion-title>Proyecto PSPI</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <ion-card-content>
            <div class="container">
                <div class="row">
                    <div class="col-3">
                        <ion-img src="/assets/images/proyecto.png">
                        </ion-img>
                    </div>
                    <div class="col-9">
                        <ion-label>Lider de Proyecto: Rodrigo Diaz</ion-label>
                        <br>
                        <ion-label>Tutor de Proyecto: Bryan Cortez</ion-label>
                        <br>
                        <ion-label>Periodo: Noviembre - Abril</ion-label>
                        <br>
                        <ion-label>Nivel: Quinto Semestre</ion-label>
                        <br>
                        <ion-label>Objetivos: Crear un software</ion-label>
                        <br>
                        <ion-label>Herramientas: Mysql, Angular</ion-label>
                        <br>
                        <ion-label>Integrantes: Alejandro Coronel, Erick Erraez</ion-label>
                    </div>
                </div>
            </div>
        </ion-card-content>
    </ion-card>
    <ion-card class="welcome-card" (click)="openWork('12345')">
        <ion-card-header>
            <ion-card-title color="primary">Entregable 1
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <ion-label>Fecha de Entrega: 10/01/2019</ion-label>
                    </div>
                </div>
            </div>
        </ion-card-content>
    </ion-card>

    <ion-card class="welcome-card">
        <ion-card-header>
            <ion-card-title color="primary">Entregable 1
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <ion-label>Fecha de Entrega: 10/01/2019</ion-label>
                    </div>
                </div>
            </div>
        </ion-card-content>
    </ion-card>

</ion-content>
