<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            Assignacion de Tutores
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <ion-card-header>
            <ion-card-title color="primary">NOVIEMBRE 2019 - ABRIL 2020
                <ion-button shape="round" expand="block" fill="outline">Editar Periodo</ion-button>
            </ion-card-title>
        </ion-card-header>
    </ion-card>
    <ion-card class="welcome-card">
        <ion-card-header>
            <ion-card-title color="primary">Seleccione
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-item>
                <ion-label>Nivel</ion-label>
                <ion-select interface="popover" placeholder="Select One" [(ngModel)]="valor">
                    <ion-select-option value="1">Primero</ion-select-option>
                    <ion-select-option value="2">Segundo</ion-select-option>
                    <ion-select-option value="3">Tercero</ion-select-option>
                    <ion-select-option value="4">Cuarto</ion-select-option>
                    <ion-select-option value="5">Quinto</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Paralelo</ion-label>
                <ion-select interface="popover" placeholder="Select One" [(ngModel)]="paralelo">
                    <ion-select-option value="A">A</ion-select-option>
                    <ion-select-option value="B">B</ion-select-option>
                    <ion-select-option value="C">C</ion-select-option>
                </ion-select>
            </ion-item>
            <div class="container" *ngIf="valor!=null && paralelo !=null">
                <ion-item>
                    <ion-label>Tutor</ion-label>
                    <ion-select interface="popover" placeholder="Select One" [(ngModel)]="proyecto.tutor">
                        <ion-select-option *ngFor="let item of docentes"
                                           value="{{item.idUsuarios}}">{{item.nombre1}} {{item.apellido1}}</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label>Tutor Suplente</ion-label>
                    <ion-select interface="popover" placeholder="Select One" [(ngModel)]="proyecto.tutorSuplente">
                        <ion-select-option *ngFor="let item of docentes"
                                           value="{{item.idUsuarios}}">{{item.nombre1}} {{item.apellido1}}</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label>Calificador 1</ion-label>
                    <ion-select interface="popover" placeholder="Select One" [(ngModel)]="proyecto.jurado1">
                        <ion-select-option *ngFor="let item of docentes"
                                           value="{{item.idUsuarios}}">{{item.nombre1}} {{item.apellido1}}</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label>Calificador 2</ion-label>
                    <ion-select interface="popover" placeholder="Select One" [(ngModel)]="proyecto.jurado2">
                        <ion-select-option *ngFor="let item of docentes"
                                           value="{{item.idUsuarios}}">{{item.nombre1}} {{item.apellido1}}</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <div class="container text-center">
                        <ion-button shape="round" fill="outline" (click)="asignarTutores()">Asignar</ion-button>
                        <ion-button (click)="cancelarAsignacion()" color="danger" shape="round" fill="outline">Cancelar
                        </ion-button>
                    </div>
                </ion-item>
            </div>
        </ion-card-content>
    </ion-card>

</ion-content>
