<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Propuesta de Proyecto</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title color="primary">Desarrollo de Software</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <br>
            <ion-item>
                <ion-label position="floating">Nombre del Proyecto</ion-label>
                <ion-input [(ngModel)]="proyecto.nombre"></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="floating">Descripcion del Proyecto</ion-label>
                <ion-textarea maxlength="200" [(ngModel)]="proyecto.descripcion" rows="4" cols="20"></ion-textarea>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="floating">Herramientas a Utilizar</ion-label>
                <ion-textarea [(ngModel)]="proyecto.herramientas" rows="4" cols="20"></ion-textarea>
            </ion-item>
            <br>
            <ion-list>
                <ion-item>
                    <ion-label>Tema</ion-label>
                    <ion-select [(ngModel)]="proyecto.idCategoria" value="" okText="Aceptar" cancelText="Cerrar">
                        <ion-select-option *ngFor="let item of categorias" value="{{item.idCategorias}}">{{item.nombre}}
                        </ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-list>
            <br>
            <ion-item>
                <table border="1" class="table" style="width:100%" id="tablaprueba">
                    <thead class="thead-dark">
                    <tr>
                        <th>Nombres</th>
                        <th width="70" scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td> {{user.usuario.name}} {{user.usuario.email}}</td>
                        <td width="70">
                            <ion-icon (click)="presentAlertPrompt()" color="primary"
                                      name="add-circle-outline"></ion-icon>
                        </td>
                    </tr>
                    <tr *ngFor="let item of miembros;">
                        <td>{{item.nombre1}}&nbsp;{{item.apellido1}} {{item.correo}}</td>
                        <td width="70">
                            <ion-icon (click)="quitar(item)" color="danger" name="trash"></ion-icon>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </ion-item>
            <br>
            <ion-button (click)="enviarPropuesta()" shape="round" expand="block" fill="outline">Enviar Propuesta
            </ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>
