<ion-header>
    <ion-toolbar>
        <ion-title>Propuesta de Proyecto</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ion-item>
                    <ion-card-title color="primary">Desarrollo de Software</ion-card-title>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Nombre del Proyecto</ion-label>
                    <ion-input></ion-input>
                </ion-item>
            </div>
        </div>
    </div>
</ion-content>
