<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            Configuraciones
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="usuario.rol === 1">
    <ion-card class="welcome-card">
        <ion-card-header>
            <ion-card-title color="primary">Activar Formulario
                <br><br>
                <div class="checkbox">
                    <input (click)="changeStatus($event.target.checked)" type="checkbox" name="checkbox" id="checkbox1"
                           [(ngModel)]="this.show.formularioSolicitud"/>
                    <label for="checkbox1">Si</label>
                </div>
            </ion-card-title>
        </ion-card-header>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title color="primary">Editar Temas</ion-card-title>
            <br>
            <ion-icon (click)="presentModal('new')" color="primary" name="add-circle-outline"></ion-icon>
            <ion-icon *ngIf="categoria.nombre !== undefined" (click)="presentModal(categoria)" color="success"
                      name="create"></ion-icon>
            <ion-icon *ngIf="categoria.nombre !== undefined" (click)="deleteCategory()" color="danger"
                      name="trash"></ion-icon>
            <table border="1" class="table" style="width:100%" id="tablaprueba">
                <thead class="thead-dark">
                <tr>
                    <th width="35" scope="col"></th>
                    <th>id</th>
                    <th>Descripcion</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of categorias;" (click)="onSelect(item)">
                    <td width="35">
                        <ion-icon class="hand" name="arrow-dropright-circle"
                                  [hidden]="!estaSeleccionado(item)"></ion-icon>
                    </td>
                    <td>{{item.idCategorias}}</td>
                    <td>
                        {{item.nombre}}
                    </td>
                </tr>

                </tbody>
            </table>
        </ion-card-header>
    </ion-card>
</ion-content>

<ion-content *ngIf="usuario.rol === 3">
    <ion-card class="welcome-card">
        <ion-card-header>
            <ion-card-title color="primary">Tareas
                <br><br>
                <ion-icon (click)="showNew('new')" color="primary" name="add-circle-outline"></ion-icon>
                <ion-icon (click)="showNew('edit')" color="success" name="create"></ion-icon>
                <div *ngIf="stateWork == 'new'">
                    <ion-list>
                        <ion-item>
                            <ion-label>Tipo de Evaluacion</ion-label>
                            <ion-select [(ngModel)]="nota.idTipoEvaluacion" interface="popover" okText="Aceptar"
                                        cancelText="Cerrar">
                                <ion-select-option value="1">Entregable 1</ion-select-option>
                                <ion-select-option value="2">Entregable 2</ion-select-option>
                            </ion-select>
                        </ion-item>
                    </ion-list>
                    <br>
                    <ion-item>
                        <ion-label>Fecha Limite</ion-label>
                        <ion-datetime [(ngModel)]="nota.fechaLimite" displayFormat="D MMM YYYY H:mm" min="2017"
                                      value="2005-06-17T11:06Z"></ion-datetime>
                    </ion-item>
                    <ion-button shape="round" fill="outline" (click)="createWork()">Crear
                    </ion-button>
                    <ion-button color="danger" shape="round" fill="outline" (click)="stateWork = ''">Cancelar
                    </ion-button>
                </div>
                <div *ngIf="stateWork == 'edit'">
                    <ion-list>
                        <ion-item>
                            <ion-label>Tipo de Evaluacion</ion-label>
                            <ion-select [(ngModel)]="tipo" interface="popover" okText="Aceptar"
                                        cancelText="Cerrar">
                                <ion-select-option value="Entregable 1">Entregable 1</ion-select-option>
                                <ion-select-option value="Entregable 2">Entregable 2</ion-select-option>
                            </ion-select>
                        </ion-item>
                    </ion-list>
                    <br>
                    <ng-container *ngIf="tipo != null">
                        <ion-button *ngIf="tipos.length==0" shape="round" fill="outline"
                                    (click)="getData()">Buscar
                        </ion-button>
                        <ion-button *ngIf="tipos.length>0" color="danger" shape="round"
                                    fill="outline" (click)="cancelEdit()">Cancelar
                        </ion-button>
                        <table *ngIf="tipos.length > 0" border="1" class="table" style="width:100%" id="tablaprueba">
                            <thead class="thead-dark">
                            <tr>
                                <th width="35" scope="col"></th>
                                <th>id</th>
                                <th>Descripcion</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let item of tipos;" (click)="onSelect(item)">
                                <td width="35">
                                    <ion-icon class="hand" name="arrow-dropright-circle"
                                              [hidden]="!selectTipo(item)"></ion-icon>
                                </td>
                                <td>{{item.fechaLimite}}</td>
                                <td>
                                    {{item.nombre}}
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </ng-container>
                </div>
            </ion-card-title>
        </ion-card-header>
    </ion-card>
</ion-content>
