<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            Proyectos
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <ion-card-header>
            <ion-card-title color="primary">Proyecto PSPI
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <div class="container">
                <div class="row">
                    <div class="col-3">
                        <ion-img src="/assets/images/proyecto.png">
                        </ion-img>
                    </div>
                    <div class="col-9">
                        <ion-label>Lider de Proyecto: Rodrigo Diaz</ion-label>
                        <br>
                        <ion-label>Tutor de Proyecto: Bryan Cortez</ion-label>
                        <br>
                        <ion-label>Periodo: Noviembre - Abril</ion-label>
                        <br>
                        <ion-label>Nivel: Quinto Semestre</ion-label>
                    </div>
                </div>
            </div>
        </ion-card-content>
    </ion-card>
    <ion-card class="welcome-card">
        <ion-card-header>
            <ion-card-title color="primary">Proyecto Doby
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <div class="container">
                <div class="row">
                    <div class="col-3">
                        <ion-img src="/assets/images/proyecto.png">
                        </ion-img>
                    </div>
                    <div class="col-9">
                        <ion-label>Lider de Proyecto: Rodrigo Diaz</ion-label>
                        <br>
                        <ion-label>Tutor de Proyecto: Bryan Cortez</ion-label>
                        <br>
                        <ion-label>Periodo: Noviembre - Abril</ion-label>
                        <br>
                        <ion-label>Nivel: Quinto Semestre</ion-label>
                    </div>
                </div>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>
