<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
  

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="../../../assets/images/yav.png" id="icon" alt="User Icon" style="width: 100px;"/>
    </div>

    <!-- Login Form -->
    <form #frmLogin="ngForm" (ngSubmit)="login(13)">
      <input type="email" id="login" class="fadeIn second" [(ngModel)]="userName"  placeholder="Email"
      name="email">
      <input type="password" id="password" class="fadeIn third" [(ngModel)]="password"  placeholder="Password"
      name="password">
      <input type="submit" class="fadeIn fourth" value="Login">
    </form> 

    <!-- Rrecuperar contraseña -->
    <div id="formFooter">
      <a class="underlineHover" href="#">¿Se te olvidó tu contraseña?</a>
    </div>

  </div>
</div>
